# Scaling Exercises

In [2]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
import sklearn.preprocessing
from sklearn.model_selection import train_test_split

import env
import class_wrangle

In [3]:
df = class_wrangle.wrangle_zillow()

In [3]:
df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
0,4,2.0,3633,296425,2005,6941.39,6037
1,3,4.0,1620,847770,2011,10244.94,6037
2,3,2.0,2077,646760,1926,7924.68,6037
3,0,0.0,1200,5328,1972,91.60,6037
4,0,0.0,171,6920,1973,255.17,6037

In [4]:
df.shape

(2094583, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2094583 entries, 0 to 2094582
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    int64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  int64
 3   taxvaluedollarcnt             int64
 4   yearbuilt                     int64
 5   taxamount                     float64
 6   fips                          int64
dtypes: float64(2), int64(5)
memory usage: 127.8 MB

In [6]:
def split_zillow(df):
    train_validate, test = train_test_split(df, test_size=.2,
                                        random_state=123)
    train, validate = train_test_split(train_validate, test_size=.3,
                                   random_state=123)
    return train, validate, test

In [7]:
'''x_vars = df['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'yearbuilt', 'taxamount', 'fips']
    y_vars = df['taxvaluedollarcnt']

    x_train, y_train = train[x_vars], train[y_vars]
    x_validate, y_validate = validate[x_vars], validate[y_vars]
    x_test, y_test = test[x_vars], test[y_vars]'''

"x_vars = df['bedroomcnt', 'bathroomcnt', 'calculatedfinishedsquarefeet', 'yearbuilt', 'taxamount', 'fips']\n    y_vars = df['taxvaluedollarcnt']\n\n    x_train, y_train = train[x_vars], train[y_vars]\n    x_validate, y_validate = validate[x_vars], validate[y_vars]\n    x_test, y_test = test[x_vars], test[y_vars]"

In [8]:
# x_train, y_train, x_validate, y_validate, x_test, y_test = split_zillow(df)

 1. Apply the scalers we talked about in this lesson to your data and visualize the results for the unscaled and scaled distribution

In [9]:
scaler = sklearn.preprocessing.MinMaxScaler()
scaler.fit(x_train)

x_train_scaled = scaler.transform(x_train)
x_validate_scaled = scaler.transform(x_validate)
x_test_scaled = scaler.transform(x_test)

plt.figure(figsize=(13, 6))
plt.subplot(121)
plt.hist(x_train, bins=25, ec='black')
plt.title('Original')
plt.subplot(122)
plt.hist(x_train_scaled, bins=25, ec='black')
plt.title('Scaled')

NameError: name 'x_train' is not defined